#header{
    height: 10%;
    background: #14b5ff;
    color: white;
    padding: 0 4%;
    display: table;
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    position: relative;
}
#header .back{
    background-image: url("../img/back.png");
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: left center;
    height: 100%;
    width: 15%;
}
#header .pagename{
    width: 65%;
    font-size: 2.2em;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}
#header .header_actions{
    width: 20%;
    text-align: right;
    background-image: url("../img/actions.png");
    background-repeat: no-repeat;
    background-size: auto 25%;
    background-position: right center;
}
#header .fl_action_button{
    position: absolute;
    left: 3%;
    top: 50%;
    width: 3em;
    height: 3em;
    color: white;
}
#header .fl_action_button i{
    font-size: 2em;
    top: -5px;
    left: -1px;
}

@media (min-width: 720px){
    #header .fl_action_button{
        width: 4em;
        height: 4em;
    }
    #header .fl_action_button i {
        font-size: 3em;
        top: -4px;
        left: 1px;
    }
}