.main-content{
    padding: 5% 0 0;
    height: 85%;
}
.main-content.no-padding{
    padding: 0;
}
.add_child{
    height: 100%;
    padding: 0 15% 0;
}
.add_child .line{
    margin: 0 0 5%;
}
.add_child .line.need_height{
    height: 13%;
    margin: 0 0 2%;
}
.add_child .line.need_height.select_male{
    margin: 0 0 4%;
}
.add_child label{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
}
.child_photo{
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25%;
    height: 100%;
    margin: 0 0 0 5%;
}
.child_photo.empty{
    background-image: url("../../img/photo.png");
}
.add_child .form-control,
.add_child .form-control:focus{
    height: auto;
    font-size: 1.2em;
    padding: 0 0 3%;
}
.radios{
    width: 55%;
}
.radio_group{
    width: 43%;
}
.radios,
.radio_group{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 5%;
}
.radio_block{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.radio_input:checked + .radio_block{
    opacity: 1;
}
.radio_block.male{
    background-image: url("../../img/male.png");
}
.radio_block.female{
    background-image: url("../../img/female.png");
}
.add_child .need_margin{
    margin: 13% 0;
}
.add_child .need_margin label{
    text-transform: none;
}
.add_child .name{
    font-size: 1.2em;
}
.add_child .slider {
    margin: 10% 0 18%;
}
.add_child .btn{
    width: 100%;
    height: 10%;
    font-size: 1.2em;
}
.head.table{
    height: 7%;
    margin: 0;
}
.col_name{
    width: 85%;
    text-align: center;
}
.col_lvl,
.col_name{
    opacity: 0.55;
    border-bottom: solid 1px #ebebeb;
}
.child_list{
    width: 150%;
}
.child_item{
    height: 8.5em;
    width: 100%;
    position: relative;
    left: -14%;
    margin: 0;
}
.child_item .table-cell{
    border-bottom: solid 1px #ebebeb;
    box-sizing: border-box;
    height: 100%;
}
.child_item .edit,
.child_item .remove{
    width: 8%;
    background: #eeeeee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
    text-align: center;
}
.child_item .avatar{
    width: 15%;
    height: 100%;
    text-align: center;
}
.child_item .avatar .image{
    width: 85%;
    height: 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
.child_item .name_status{
    padding: 0;
    color: #727272;
    width: 25%;
}
.child_item .name_status .name{
    font-size: 1.3em;
}
.child_item .name_status .name{
    font-size: 1.3em;
}
.child_item .name_status .status{
    font-size: 1em;
    height: 15%;
}
.child_item .name_status .status:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 10%;
    height: 100%;
}
.child_item .name_status .status:not(.online):before{
    background-image: url("../../img/offline.png");
}
.child_item .name_status .status:before{
    background-image: url("../../img/online.png");
}
.lvl_now{
    width: 10%;
}
.lvl_now .lvl_color{
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
}
.lvl_now .lvl_color.ok{
    background: #8bc34a;
}
.lvl_now .lvl_color.warning{
    background: #ffeb3b;
}
.lvl_now .lvl_color.danger{
    background: #ff5722;
}
.lvl_now .lvl_color.grey{
    background: #9e9e9e;
}
.editable{
    left: 0;
}
.removable{
    left: -32%;
}