.order_form .form_field{
    height: 52px;
    color: #2b262a;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.order_form .selectBox,
.order_form .input_block,
.order_form .opacity_block,
.order_form .opacity_block .label,
.order_form .opacity_block .checkBlock,
.order_form .opacity_block .radio,
.order_form .opacity_block label{
    display: inline-block;
    vertical-align: middle;
}
.order_form .input_block{
    position: relative;
}
.order_form .input_block.block{
    display: block;
}
.order_form .input_block .up{
    position: absolute;
    top: 17px;
    left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #2b262a;
}
.order_form .selectBox,
.order_form .form_field{
    vertical-align: top;
}
.order_form .line:first-child .selectBox{
    width: 315px;
    margin-right: 15px;
}
.order_form .line:first-child .opacity_block{
    width: 570px;
    padding: 0;
    height: 55px;
    line-height: 48px;
    margin: 0;
}
.order_form .line:first-child .opacity_block .label{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.order_form .line:first-child .opacity_block label{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.order_form .line:first-child .checkBlock{
    margin: 0 20px;
}
.order_form .line{
    margin: 27px 0;
}
.order_form .line:nth-child(2) .selectBox{
    width: 233px;
}
.order_form .line:nth-child(2) .form_field{
    margin: 0 10px;
    width: 200px;
}
.order_form .line:nth-child(2) .form_field:last-child{
    margin: 0 0 0 19px;
}
.order_form .line:nth-child(3) .form_field{
    width: 286px;
}
.order_form .line:nth-child(3) .input_block:nth-child(2){
    margin: 0 10px;
}
.order_form .form_field.theme{
    width: 100%;
    display: block;
    margin: 27px 0;
}
.order_form .req{
    color: #dc3d9a;
    margin-left: 5px;
}
.order_form .form_area{
    height: 165px;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #2b262a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.order_form .radios .checkBlock{
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    padding: 0 15px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 50px;
    line-height: 44px;
}
.order_form .radios .checkBlock .radio,
.order_form .radios .checkBlock label,
.buttons,
.buttons .button{
    vertical-align: middle;
    display: inline-block;
}
.order_form .radios .checkBlock:first-child{
    margin: 0 20px 0 0;
}
.order_form .radios .checkBlock:last-child{
    margin: 0 0 0 20px;
}
.order_form .radios .checkBlock .radio{
    margin: 0 10px;
}
.form_field.spec{
    width: 350px;
}
.form_field.vuz_name{
    width: 315px;
    margin: 0 9px;
}
.form_field.code{
    width: 212px;
}
.notification{
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: right;
    line-height: 26px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 430px;
}
.notification a{
    color: #de41a2;
}
.notification a:hover{
    text-decoration: none;
}
.buttons .button{
    cursor: pointer;
}
.buttons .button:first-child{
    width: 225px;
    margin-right: 15px;
}
.buttons .button:nth-child(2){
    width: 185px;
}
.attachments.opacity_block{
    padding: 30px 35px;
}
.attachments.opacity_block h2{
    margin: 0 auto 35px;
}
.att_list .name{
    color: #f5d933;
    font-size: 12px;
    font-family: 'Verdana';
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.att_list .name:before{
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.att_list .name.image:before{
    background-image: url("../../img/img.png");
    width: 21px;
    height: 16px;
}
.att_list .name.pdf:before{
    background-image: url("../../img/pdf.png");
    width: 19px;
    height: 23px;
}
.att_list .name.doc:before{
    background-image: url("../../img/doc.png");
    width: 17px;
    height: 23px;
}
.att_list .button{
    float: right;
    width: 106px;
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
}
.att_list .item{
    margin: 0 0 17px;
}