/*
    z-index information:
    header - 6;
    footer - 6;
    content - 5;
    grad_top - 3;
    grad_bottom - 3;
    gal_content_bg - 2;
    gal_circle - 1;
*/

.left{float: left}
.right{float: right}
.abs{position: absolute}
.ib_vm{display: inline-block; vertical-align: middle}
.ib_vt{display: inline-block; vertical-align: top}

/*
====================================================
    Header block
====================================================
*/
header{
    top: -65px;
    width: 100%;
    padding: 0 35px;
    box-sizing: border-box;
    z-index: 6;
    transition: top .3s;
    -webkit-transition: top .3s;
}
header.vis{
    top: 30px;
}
header .left{
    position: absolute;
}
#logo{
    width: 105px;
    height: 65px;
    display: block;
    background: url("../img/logo.svg") no-repeat;
    background-size: contain;
    position: relative;
    top: 0;
    transform: scale(0.2) rotate(0deg);
    -webkit-transform: scale(0.2) rotate(0deg);
    transition: transform .3s,
        top .3s;
    -webkit-transition: -webkit-transform .3s,
        top .3s;
}
#logo.vis{
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
}
#logo.vis:hover{
    top: -5px;
    transform: scale(.9);
    -webkit-transform: scale(.9);
}
nav{
    text-align: center;
    line-height: 64px;
}
nav .nav_url{
    font-family: 'TrendSansOne';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 25px;
    position: relative;
    border: solid 2px transparent;
}
nav .nav_url:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 2px #326894;
    top: -2px;
    left: -2px;
    opacity: 0;
    transform: scale(.2);
    -webkit-transform: scale(.2);
    transition: opacity .3s,
        transform .3s;
    -webkit-transition: opacity .3s,
        -webkit-transform .3s;
}
nav .nav_url:hover:after{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}
header .sm_basket{
    font-family: 'TrendSansOne';
    position: absolute;
    right: 35px;
    top: 6px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 25px;
    line-height: 18px;
    border: solid 2px transparent;
}

/*
====================================================
    All classes rules
====================================================
*/
.border_vis:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 2px #326894;
    top: -2px;
    left: -2px;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform .3s;
    -webkit-transition: transform .3s;
}
.border_vis:hover:after{
    transform: scale(.8);
    -webkit-transform: scale(.8);
}

/*
====================================================
    Footer block
====================================================
*/
footer{
    bottom: -40px;
    width: 100%;
    padding: 0 35px;
    box-sizing: border-box;
    color: white;
    font-family: 'ProximaNova-Light';
    font-size: 13px;
    z-index: 6;
    transition: bottom .3s;
    -webkit-transition: bottom .3s;
}
footer.vis{
    bottom: 15px;
}
footer .left{
    line-height: 18px;
}
footer .ib_vm{
    width: 110px;
    text-align: right;
}
footer a{
    color: #36709f;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.sponge_logo{
    width: 140px;
    height: 40px;
    background: url("../img/sponge.svg") no-repeat;
    background-size: contain;
    margin: 0 0 0 10px;
}